ddns-update-style none;

default-lease-time {{ default_lease_time }};
max-lease-time {{ max_lease_time }};

{% for subnet in subnets %}
subnet6 {{ subnet["subnet"] }} {
      {% if subnet.get("range") %}
            range6 {{ subnet["range"] }};
      {% endif %}
}
{% endfor %}